anyio
argon2-cffi
argon2-cffi-bindings
attrs
Babel
backcall
beautifulsoup4
bleach
cached-property
cffi
chardet
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
fastjsonschema
fonttools
h5py
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-core
jupyter-server
jupyter_client
jupyterlab
jupyterlab-pygments
jupyterlab_server
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook-shim
numpy
packaging
pandocfilters
parso
PeakUtils
pickleshare
Pillow
pkgutil_resolve_name
prometheus-client
prompt-toolkit
psutil
pycparser
pycryptodome
pydantic
Pygments
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
pyqtgraph
pyrsistent
pyserial
python-dateutil
pytz
pywin32
pywinpty
pyzmq
requests
scipy
Send2Trash
six
sniffio
soupsieve
SQLAlchemy
terminado
tinycss2
tomli
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
webencodings
websocket-client
wincertstore
zipp
